.left__col {
  background: var(--gradient-1);
  -webkit-text-fill-color: transparent;
}

.right__col {
  background: var(--gradient-1);
  border-radius: 50%;
}

@media (max-width: 1045px) {
  .right__col {
    background: transparent;
  }
}
